@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'permanentMarker';
  src: url('/Font/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'pragmatica';
  src: url('/Font/PragmaticaExtendedBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: poppins;
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #B2B9BF;
  }
}

