@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/Font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PragmaticaExtendedBold';
  src: url('/Font/PragmaticaExtendedBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('/Font/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main-Tipography {
  font-family: PragmaticaExtendedBold !important;
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #B2B9BF;
  }
}
/* Ocultar indicadores flotantes de desarrollo */
#__next-build-watcher, #__next-build-error-overlay {
  display: none !important;
}


